
/*Bootstrap edit*/
.parisienne{
  font-family: 'Parisienne', cursive;
}
.no-box{
  border-radius: 12px!important;
}
.sbmt{
  width: 100%;
}
/*Custome P*/
section.main{
  z-index: -1;
  position: absolute;
  width: 100%;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    h1.title{
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Parisienne', cursive;
      font-size: 35px;
    }
    .butons-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 75%;
      height: 600px;
      }
      .btn1 { grid-area: 1 / 1 / 2 / 2; }
      .btn2 { grid-area: 1 / 2 / 2 / 3; }
      .btn3 { grid-area: 2 / 1 / 3 / 2; }
      .btn4 { grid-area: 2 / 2 / 3 / 3; }
      .btn5 { grid-area: 3 / 1 / 4 / 3; }
      .btn6 { grid-area: 4 / 1 / 5 / 2; }
      .btn7 { grid-area: 4 / 2 / 5 / 3; }
        .button{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        button.options{
          width: 90%;
          height: 90%;
          background: #fff;
          border: 1px solid #000;
          border-radius: 10px!important;
        }
        button.options:hover{
          background: brown;
          border: none;
        }
        button.btnesp{
          width: 50%;
          border-radius: 10px!important;
          background: #fff;
        }
          img{
            width: 100%;
            height: 100%;
          }
          .img-color:hover{
            filter: invert(79%) sepia(14%) saturate(2077%) hue-rotate(330deg) brightness(93%) contrast(103%);
          }
  .next-container{
    width: 90%;
    height: 600px;
    margin-top: 10px;
  }
    h1.t-tarifa{
      font-family: 'Poppins', sans-serif;
      font-size: 2rem;
      width: 100%;
      font-weight: 900;
    }