<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="reserva.css">
    <link rel="stylesheet" href="../../../global.css">
    
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>
        <img src="../../assets/image/logo.png">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Carta</a></li>
            <li><a href="#">Reserva</a></li>
            <li><a href="#">Proximamente</a></li>
        </ul>
    </nav>

    <section class="main-container">
        <h1 class="title">Reserva Aqui!</h1>
        <div class="map">
            <button type="button" class="mesas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="../../assets/image/tbl2.svg" alt="">
                <p>Para 2</p>
            </button>
            <button type="button" class="mesas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="../../assets/image/tbl4.svg" alt="">
                <p>Para 4</p>
            </button>
            <button type="button" class="mesas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="../../assets/image/tbl2.svg" alt="">
                <p>Para 2</p>
            </button>
            <button type="button" class="mesas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="../../assets/image/tbl4.svg" alt="">
                <p>Para 4</p>
            </button>
            <button type="button" class="mesas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="../../assets/image/tbl1.svg" alt="">
                <p>Para 1</p>
            </button>
            <button type="button" class="mesas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="../../assets/image/tbl1.svg" alt="">
                <p>Para 1</p>
            </button>
            <button type="button" class="mesas" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                <img src="../../assets/image/cab.svg" alt="">
                <p>Para 2</p>
            </button>
        </div>
    </section>

    <section class="second-container">
        <div class="cnt">
            <h1 class="subtitle">Tarifa terminos y condiciones de reserva</h1>

            <h2 class="p1">Tarifa:</h2>
            <p class="p1">El precio del alquiler de los espacios es por hora independiente de la cantidad de personas que ocupen el lugar (Respetando el aforo por asiento).<br>
            Los precios son:<br>
            1/2 hora: 30 Soles<br>
            1 hora : 50 Soles
            </p>
            <h3>Que incluye?</h3>
            <p class="p1">Durante el tiempo que se haya alquilado tendra acceso a:<br>
            -Internet de ###MB<br>
            -Cafe americano (Con refill)<br>
            -Snacks salados (Con refill)
            </p>


            <h2 class="p1">Terminos y condiciones:</h2>
            <p class="p1">El tiempo de alquiler es de 8:00am hasta las 5:00pm, pasado el tiempo de alquiler (5:00pm) la estadia del lugar pasa a ser por consumo el refill ya no estara disponible.</p>
        </div>
    </section>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Envio de formulario</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="https://formsubmit.co/brayanveracabanillas1@gmail.com" method="POST">
                    <input type="text" name="Num-mesa" placeholder="Mesa #3" >
                    <input type="date" name="Fecha">
                    <input type="text" name="hora" placeholder="9:00 - 13:00" >
                    <input type="text" name="nombre"  placeholder="Nombres" autocomplete="nope">
                    <input type="text" name="apellidos" placeholder="Apellidos" autocomplete="nope">
                    <input type="number" name="telf" placeholder="Telfelono" autocomplete="nope">
                    <input type="email" name="email" placeholder="Correo" autocomplete="off">
                    <button type="submit">enviar</button>
                </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">enviar</button>
            </div>
          </div>
        </div>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
